body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #F6F8FA;
    font-size: 13px;
}


/* Container */
.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 auto;
    max-width: max-content;
    align-items: center;
    min-height: 100vh;
}

/* Header */
header {
    margin: 2em 0;
    width: 100%;
    border-bottom: 1px solid #D1D9E0;
}

.header-title {
    margin: 0.5em;
    font-size: 2em;
}

/* Profile Image */
.profile-image {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #D1D9E0;
    display: flex;
    /* Placeholder Initals */
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

/* Profile Name */
.profile-name {
    margin: 0.5em 0 0 0;
    font-size: 1.5em;
}

/* Profile Username */
.profile-username {
    margin-top: 0;
    font-size: 1em;
}

/* Social Links */
.social-links-container {
    display: flex;
    flex-direction: column;
    /* gap: 0.2em; */
}

.social-links-container a {
    text-decoration: none;
    color: #000000;
}

.social-links-container a:hover {
    text-decoration: underline;
    color: #0066ff;
}

/* Main Content */
/* TODO: should handle width attribute here instead */
.main-contianer {
    margin: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

/* Main Title */
.main-title {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

/* Projects */
.project-container {
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    /* width: 800px; */
    /* flex-wrap: wrap; */
    gap: 20px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #D1D9E0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    max-width: 50.5em;
}

/* Project Text */
.project-card-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
    max-width: 60%;
}

.project-name {
    margin: 0;
}

.project-name a {
    text-decoration: none;
    color: #0066ff;
}

.project-name a:hover {
    text-decoration: underline;
}

.project-description {
    margin: 0.5em 0;
    color: #555;
}

/* Project Image */
.project-card-image-wrapper {
    background-color: #D1D9E0;
    width: 15em;
    /* height: 10em; */
}

.project-card-image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Project Programming Language */
.project-language {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.project-language div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

.programming-language-circle {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #D1D9E0;
}

.html-css {
    background-color: #3793d0;
}

.javascript {
    background-color: #f1e05a;
}

.java {
    background-color: burlywood;
}

.c {
    background-color: #555;
}


/* TODO: Seperate css files */
/* Roboto Font */
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}


/* Instagram Posts */

#instagram-contet {
    margin-top: 4em;
    margin-bottom: 5em;
}

#instagram-wrapper {
    max-width: 640px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.instagram-item-wrapper {
    display: block;
    max-width: 200px;
    text-decoration: none;
}

.instagram-image-wrapper {
    max-width: 100%;
    border-radius: 8px;
    filter: grayscale(100%); /* Initial state - less color */
    transition: filter 0.3s ease-in-out;
}

.instagram-item-wrapper:hover .instagram-image-wrapper {
    filter: grayscale(0%); /* Full color on hover */
}

@media screen and (max-width: 768px) {
    .main-contianer {
        flex-direction: column; /* Stack everything vertically */
        gap: 1em;
    }
    
    .sidebar {
        width: 100%;
        text-align: center; 
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: 0.8em;
        padding-bottom: 2em;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1em;
    }

    .project-card {
        flex-direction: column; 
    }

    .project-card-text-wrapper {
        max-width: 100%;
    }

    .project-card-image-wrapper {
        width: 100%;
    }

    #instagram-wrapper {
        flex-direction: column;
        gap: 1em;
    }

    .instagram-item-wrapper {
        max-width: 100%;
    }
}


header {
    display: flex;
    align-items: center;
}

header img {
    height: 2.5em;
}